<body>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
        <main class="mdl-layout__content">
            <div class="demo-blog__posts mdl-grid">

                <div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col">
                    <div class="mdl-card__media mdl-color-text--grey-50" style="background-image:url(/assets/images/background3.jpg)">
                        <h3>
                            <a href="#">My News</a>
                        </h3>
                    </div>
                    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                        <div class="minilogo"></div>
                        <div>
                            <strong>Techcrunch.com</strong>
                             <a href="/all">JSON</a>
                        </div>
                    </div>
                </div>

                <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
                    <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
                        <img src="/assets/images/logo.png"> Number Of Scraped News
                        <strong>{{posts.length}}</strong>
                    </div>
                    <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
                        <div>
                            <strong>Scrape More News!</strong>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" id="scrape" name="action">Scrape
                        </button>
                    </div>
                </div>

                {{#each posts}}
                <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__media mdl-color-text--grey-50" style="background:url({{this.img}})">
                        <h3>
                            <a>{{this.title}}</a>
                        </h3>
                    </div>
                    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                        {{this.article}}....
                        <a href="{{this.link}}" target="_blank">More</a>
                    </div>
                    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                        <div class="minilogo"></div>
                        <div>
                            <strong>
                                <a href="https://techcrunch.com/" target="_blank">Techcrunch</a>
                            </strong>
                            <span>{{this.created}}</span>

                            <form>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <textarea rows=1 class="mdl-textfield__input"></textarea>
                                    <label for="comment" class="mdl-textfield__label">Join the discussion</label>
                                </div>
                                <button class="mdl-button lighten-2 mdl-js-button mdl-js-ripple-effect mdl-button--icon leave-note" data-id="{{this._id}}">
                                    <i class="material-icons" role="presentation">check</i>
                                    <span class="visuallyhidden">add comment</span>
                                </button>

                            </form>

                        </div>

                        <div class="myNotes"> {{#each note}}
                            <div>
                                <span>{{this.note}}</span>
                                <button class="delete" data-note="{{this._id}}">Delete</button>
                            </div>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/each}}

            </div>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>

</body>